[user]
	email = eric.claerhout@intelligentimagingsystems.com
	name = Eric Claerhout

[core]
    excludesfile = ~/.gitignore_global

[diff]
    tool = vscode
[difftool]
	prompt = false
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
